@page "/"
@{
    ViewBag.Header = "Home page";
}
<div class="text-center m-2">
    <img style="width:40%;mix-blend-mode: hard-light;" src="https://steamuserimages-a.akamaihd.net/ugc/1760317572787108793/7C7EE2054DC33DFB94781A850C2F66B5F0A56F56/" class="rounded">
</div>
<p class="fs-2">
    Good morning, this is a <span class="text-info">cool site</span> with websocket chat</br>
    Here you can register, login and... chat with others?
</p>
<small class="text-muted">
    Btw, all images was taken from public sites, so i dont own them
</small>